@font-face {
    font-family: 'Museo';
    src: url('/fonts/Museo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}