@font-face {
    font-family: 'Museo';
    src: url('/fonts/Museo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Raleway_Medium';
    src: url('/fonts/Raleway_Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
